body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, #29b591 3%, #22333a 38%, #29b591 68%, #fff 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;
}

.intro-container {
    text-align: center;
    padding: 30px 50px;
    margin-top: 60px;
}

.intro-container p {
    font-weight: bold;
}

.welcom_header,
.what_is_ertwaa{
    font-family: 'Scheherazade New', serif;
    font-size: 25px;
    color: #22333a;
    font-weight: bold;
}

.what_is_ertwaa {
    background-color: #29b59229;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.image-container {
    margin-top: 20px;
}

.animated-image {
    width: 300px;
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 2s, transform 2s;
}

p {
    margin-top: 20px;
    color: #333;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.background .wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.background .wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.background .wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

.social-links {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    gap: 10px;
}

.social-links a {
    display: inline-block;
}

.social-links img {
    height: 25px;
    transition: transform 0.3s;
    color: #000;
}
.social-links i {
    font-size: 25px;
}

.social-links img:hover,
.social-links i:hover {
    transform: scale(1.1);
}
    